{% include  'title.html' %}
<nav class="navbar navbar-expand-sm bg-dark grey">
  <ul class="navbar-nav">
   <li class="nav-item">
      <a class="nav-link" href="/adminhome">Home</a>
    </li>
    &nbsp; &nbsp;
    <li class="nav-item">
      <a class="nav-link" href="/allusers">View All Users Verify</a>
    </li>
        &nbsp; &nbsp;
    <li class="nav-item">
      <a class="nav-link" href="/allchannel">View All Channel Details Verify</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="/allchafeedback">View All ChannelFeedback</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="/allchannelrep">View All Channel Report Details Verify</a>
    </li>


               <li class="nav-item">
      <a class="nav-link" href="/adminlogout">Logout</a>
    </li>

  </ul>
</nav>