{%include 'uhead.html'%}<br><br>
<head>

<body>
<div class="container-fluid">
  <div class="row">
   <div class="col-md-4" ></div>
    <div class="col-md-4" >
    <div class="container">
<h2>Search News Here</h2>
  <form action="/search1" >

    <div class="form-group">
      <label for="username"><h5>Enter Channel Name:</h5></label>
      <input type="username" class="form-control" id="username" placeholder="Enter channel Name" name="search">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>

